* {
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;'
}

.intro-container {
  height: 100vh;
  width: 100%;
  background-color: #333f48;
  color: white;
  text-align: center;

}

.intro-header {
  padding-top: 20%;
}

.about-container {
  height: 75vh;
  width: 100%;
  background: linear-gradient(#333f48, #bf5700);
  color: white;
  padding: 10%;
  font-size: 1.5em;
  /* background-color: rgb(191,87,0); */
}

.skills-container {
  height: 75vh;
  width: 100%;
  background: linear-gradient(#bf5700, #eb6e1f);
  color: white;
}

.skill-icon {
  /*border: 4px solid blue;*/
  font-size: 3.5em;
}

.skill-grid {
  /*border: 4px solid red;*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 60%;
  width: 80%;
  color: white;
  padding: 0 30px 0px 30px;
}
.icon-grid {
  /*border: 4px solid pink;*/
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-right: 40px;
  margin-bottom: 10px;
}


.contact-container {
  height: 75vh;
  width: 100%;
  background: linear-gradient(#eb6e1f, #002d62);

}
