* {
  border: 2px solid black;
}

.skills-container {
  height: 75vh;
  display: flex;
}

.skills-used {
  /* width: 50%; */
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: red;
}

.skills-learning {
  /* width: 50%; */
  background-color: blue;
  flex: 1;
}


@media (max-width: 700px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-used {
    order: 1;
    flex-grow: 1;
  }
  .skills-learning {
    order: 0;
    flex-grow: 4;
  }
}




.icon-grid {
  /*border: 4px solid pink;*/
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 10px;
}



.skills-row {
  height: 25%;
  color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.skills-label {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-tiles {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-icon {
  font-size: 3.5em;
}
